# Virtual Environment
venv/
.venv/

# Python Cache
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment Variables
.env

# Dataset
dataset/

# Trained Model Files
*.pkl